@media print {
  html, body {
    height: auto !important;
    overflow: visible !important;
  }

  .no-print {
    display: none !important;
  }

  .print-scroll {
    overflow: visible !important;
    max-height: none !important;
    height: auto !important;
  }

  .ant-layout, .ant-layout-content, .ant-card, .ant-card-body {
    overflow: visible !important;
    max-height: none !important;
    height: auto !important;
  }

  .ant-modal,
  .ant-modal-content,
  .ant-modal-root {
    display: none !important;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
